services:
  nginx:
    container_name: "${PROJECT_NAME}_NGINX"
    image: ${NGINX_BASE}
    ports:
      - "80:8080"
    volumes:
      - ./App:/var/www/html:cached
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network


  php:
    container_name: "${PROJECT_NAME}_PHP"
    build:
      context: ./docker/php
      dockerfile: Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
        PHP_BASE: ${PHP_BASE}
    ports:
      - "9003:9003"
      - "9000:9000"
    volumes:
      - ./App:/var/www/html
      - ./docker/php/logs/xdebug:/var/log/xdebug
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - app-network

  mysql:
      container_name: "${PROJECT_NAME}_MYSQL"
      image: ${MYSQL_BASE}
      ports:
        - "3306:3306"
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      volumes:
        - mysql_data:/var/lib/mysql
      networks:
        - app-network

  phpmyadmin:
      container_name: "${PROJECT_NAME}_PHP_MY_ADMIN"
      image: phpmyadmin/phpmyadmin
      ports:
        - "8080:80"
      environment:
        PMA_HOST: mysql
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      networks:
        - app-network
      depends_on:
        - mysql
networks:
  app-network:
    name: "${PROJECT_NAME}_network"
    driver: bridge

volumes:
  mysql_data:
    name: "${PROJECT_NAME}_database"