name: Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build Linux
      run: GOOS=linux GOARCH=amd64 go build -o bin/phpvm-linux-amd64 .

    - name: Build Windows
      run: GOOS=windows GOARCH=amd64 go build -o bin/phpvm-windows-amd64.exe .

    - name: Build Windows Installer (Inno Setup)
      uses: Minionguyjosh/inno-setup-action@v1.2.2
      with:
        path: build/windows/installer.iss

    - name: Install NFPM
      uses: goreleaser/nfpm-action@v2
      with:
        version: latest

    - name: Build Linux Packages
      run: nfpm pkg --packager deb --target bin/ --config build/linux/nfpm.yaml && nfpm pkg --packager rpm --target bin/ --config build/linux/nfpm.yaml

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: phpvm-installers
        path: |
          bin/
          build/windows/Output/
