name: Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build Linux
      run: GOOS=linux GOARCH=amd64 go build -o bin/phpvm-linux-amd64 .

    - name: Build PC Executables
      run: |
        GOOS=windows GOARCH=amd64 go build -o bin/phpvm-windows-amd64.exe .
        GOOS=linux GOARCH=amd64 go build -o bin/phpvm-linux-amd64 .

    - name: Build Windows Installer (Inno Setup)
      uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
      with:
        path: build/windows/installer.iss

    - name: Install NFPM
      run: go install github.com/goreleaser/nfpm/v2/cmd/nfpm@latest

    - name: Build Linux Packages
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        nfpm pkg --packager deb --target bin/ --config build/linux/nfpm.yaml
        nfpm pkg --packager rpm --target bin/ --config build/linux/nfpm.yaml

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: phpvm-installers
        path: |
          bin/
          build/windows/Output/
