name: Build

permissions:
  contents: write

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build Linux Binary
      run: GOOS=linux GOARCH=amd64 go build -o bin/phpvm-linux-amd64 .

    - name: Install NFPM
      run: go install github.com/goreleaser/nfpm/v2/cmd/nfpm@latest

    - name: Build Linux Packages
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        nfpm pkg --packager deb --target bin/ --config build/linux/nfpm.yaml
        nfpm pkg --packager rpm --target bin/ --config build/linux/nfpm.yaml

    - name: Upload Linux Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: phpvm-linux-installers
        path: bin/*
        if-no-files-found: error

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build Windows Binary
      run: |
        $env:GOOS = "windows"
        $env:GOARCH = "amd64"
        go build -o bin/phpvm-windows-amd64.exe .

    - name: Build Windows Installer (Inno Setup)
      uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
      with:
        path: build/windows/installer.iss

    - name: Upload Windows Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: phpvm-windows-installer
        path: build/windows/Output/*
        if-no-files-found: error

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download Linux Artifacts
        uses: actions/download-artifact@v4
        with:
          name: phpvm-linux-installers
          path: release_assets

      - name: Download Windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: phpvm-windows-installer
          path: release_assets

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: release_assets/*
